.item_card_bottom
{
    background-color: rgb(66, 66, 102);
    border-radius: 16px;
    padding-bottom: 24px;
}

.ul_wrapper
{
    padding-top: 24px;
    padding-inline: 40px;
    list-style-type:square;
}

/* ============================================== */
/*                 MEDIA QUERIES                  */
/* ============================================== */

@media screen and (max-width: 400px) {
    .ul_wrapper li {
        font-size: 1rem;
    }
}